@CHARSET "UTF-8";

a
{
	text-decoration:	none;
}

header
{
	position:			absolute;
	width:				100%;
	background-color:	#301616;
}

header a
{
	font-weight:		200;
}

header a:hover
{
	text-decoration:	none;
}

.logo {
	position:			relative;
	float:				left;
	width:				200px;
	height:				86px;
	background-position:center center;
	background-image:	url("./background.png");
	background-repeat:	no-repeat;
}

.logo a
{
	position:			absolute;
	top:				0;
	left:				25px;
	z-index:			300;
	display:			block;
	width:				150px;
	height:				150px;
	margin:				0 auto;
	background-image:	url("./logo.png");
	background-repeat:	no-repeat;
	background-size:	150px 150px;
}

.navigation
{
	margin-left:		138px;
}

.navigationAbove
{
	height:				20px;
	padding:			7px 0;
	color:				#a89a90;
	font-size:			14px;
	border-bottom:		1px solid #412726;
}

.navigationAbove a
{
	color:				#a89a90;
	text-decoration:	none;
    cursor:				pointer;
}

.navigationAbove a:hover
{
	color:				#d0c3ba;
}

.navigationAbove .baseline
{
	float:				left;
	color:				#a89a90;
}

.navigationAbove .user
{
	position:			relative;
	float:				right;
	padding-left:		72px;
	padding-right:		14px;
	text-align:			right;
}

.navigationAbove .fb-like
{
	position:			absolute;
	top:				-3px;
	left:				0;
	z-index:			110;
	height:				26px;
	overflow:			hidden;
}

.navigationBellow
{
	height:				40px;
	padding-left:		10px;
	margin-right:		160px;
	font-size:			20px;
	text-transform:		uppercase;
	-webkit-user-select:none;
	-moz-user-select:	none;
	-ms-user-select:	none;
	user-select:		none;
}

.navigationBellow > ul
{
	padding:			0;
	margin:				0;
}

.navigationBellow > ul > li
{
	display:			inline;
	list-style:			none;
}

.navigationBellow > ul > li > a
{
	display:			inline-block;
	height:				46px;
	padding:			9px 28px 9px 0;
	color:				#d0c3ba;
	transition:			all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.navigationBellow > ul > li > a:hover, .navigationBellow > ul > li > a.selected
{
	color:				white;
}

.cart
{
	position:			absolute;
	top:				40px;
	right:				64px;
}